<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep Awake</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Keep Awake</h1>
    <button id="start_stop_btn">Start / Stop</button>
    <br>
    <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Video Feed">

    <script>
        $(document).ready(function() {
            var playing = false;
            $('#start_stop_btn').click(function() {
                if (!playing) {
                    $('#video_feed').attr('src', '{{ url_for('video_feed') }}');
                    playing = true;
                } else {
                    $('#video_feed').attr('src', '');
                    playing = false;
                }
            });
        });
    </script>
</body>
</html>
